<a href="https://colab.research.google.com/github/CamiloInData/analisis-de-datos/blob/master/DATASETEJERCICIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

| ID | Producto   | Categoría     | Ventas | Precio Unitario | Total Ventas | Región |
|----|------------|---------------|--------|-----------------|--------------|--------|
| 1  | Laptop     | Electrónica   | 15     | 1200.00         | 18000.00     | Norte  |
| 2  | Monitor    | Computación   | 8      | 500.00          | 4000.00      | Sur    |
| 3  | Teclado    | Accesorios    | 25     | 50.00           | 1250.00      | Norte  |
| 4  | Laptop     | Electrónica   | 10     | 1100.00         | 11000.00     | Este   |
| 5  | Tablet     | Computación   | 20     | 700.00          | 14000.00     | Oeste  |
| 6  | Impresora  | Oficina       | 5      | 400.00          | 2000.00      | Norte  |
| 7  | Smartphone | Electrónica   | 30     | 800.00          | 24000.00     | Sur    |
| 8  | Mouse      | Accesorios    | 40     | 20.00           | 800.00       | Este   |
| 9  | Monitor    | Computación   | 12     | 450.00          | 5400.00      | Oeste  |
| 10 | Tablet     | Computación   | 18     | 750.00          | 13500.00     | Norte  |

In [16]:
import pandas as pd

# Crear el dataframe desde los datos
data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Producto': ['Laptop', 'Monitor', 'Teclado', 'Laptop', 'Tablet', 'Impresora', 'Smartphone', 'Mouse', 'Monitor', 'Tablet'],
    'Categoría': ['Electrónica', 'Computación', 'Accesorios', 'Electrónica', 'Computación', 'Oficina', 'Electrónica', 'Accesorios', 'Computación', 'Computación'],
    'Ventas': [15, 8, 25, 10, 20, 5, 30, 40, 12, 18],
    'Precio Unitario': [1200.00, 500.00, 50.00, 1100.00, 700.00, 400.00, 800.00, 20.00, 450.00, 750.00],
    'Total Ventas': [18000.00, 4000.00, 1250.00, 11000.00, 14000.00, 2000.00, 24000.00, 800.00, 5400.00, 13500.00],
    'Región': ['Norte', 'Sur', 'Norte', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste', 'Norte']
}

df = pd.DataFrame(data)

df

   ID    Producto    Categoría  Ventas  Precio Unitario  Total Ventas Región
0   1      Laptop  Electrónica      15           1200.0       18000.0  Norte
1   2     Monitor  Computación       8            500.0        4000.0    Sur
2   3     Teclado   Accesorios      25             50.0        1250.0  Norte
3   4      Laptop  Electrónica      10           1100.0       11000.0   Este
4   5      Tablet  Computación      20            700.0       14000.0  Oeste
5   6   Impresora      Oficina       5            400.0        2000.0  Norte
6   7  Smartphone  Electrónica      30            800.0       24000.0    Sur
7   8       Mouse   Accesorios      40             20.0         800.0   Este
8   9     Monitor  Computación      12            450.0        5400.0  Oeste
9  10      Tablet  Computación      18            750.0       13500.0  Norte

In [17]:
Ventas = df["Total Ventas"].sum()
Ventas2 = df["Ventas"].sum()
print(f"Total de ventas en dinero: {Ventas}")
print(f"Total de ventas en cantidad: {Ventas2}")

Total de ventas en dinero: 93950.0
Total de ventas en cantidad: 183

In [18]:
# Agrupar 
ventas_por_categoria = df.groupby('Categoría')['Total Ventas'].sum()
print(ventas_por_categoria)

# Para ver solo la categoría con mayores ventas
categoria_mayor = ventas_por_categoria.idxmax()
valor_mayor = ventas_por_categoria.max()

print(f"\nCategoría con mayores ventas: {categoria_mayor}")
print(f"Total de ventas: {valor_mayor}")

Categoría
Accesorios      2050.0
Computación    36900.0
Electrónica    53000.0
Oficina         2000.0
Name: Total Ventas, dtype: float64

Categoría con mayores ventas: Electrónica
Total de ventas: 53000.0