Contexto del ejercicio

Una empresa llamada ‚ÄúEcoSensor‚Äù recopila temperaturas diarias desde sus estaciones meteorol√≥gicas.
Sin embargo, algunos d√≠as se registraron m√∫ltiples valores por errores del sistema o mediciones duplicadas.

Tu tarea ser√° limpiar los datos y decidir cu√°l registro conservar.

In [4]:
import pandas as pd

# ===============================
# üå§Ô∏è Datos con fechas duplicadas
# ===============================
data = {
    'Fecha': [
        '2024-03-01', '2024-03-01', '2024-03-02',
        '2024-03-03', '2024-03-03', '2024-03-04',
        '2024-03-05', '2024-03-05', '2024-03-06'
    ],
    'Temperatura': [24.8, 25.1, 26.2, 24.9, 24.7, 26.0, 27.1, 27.2, 26.8],
    'Ciudad': ['Medell√≠n'] * 9
}

df = pd.DataFrame(data)
df['Fecha'] = pd.to_datetime(df['Fecha'])

print("=== BASE DE DATOS ORIGINAL ===")
display(df)

=== BASE DE DATOS ORIGINAL ===

       Fecha  Temperatura    Ciudad
0 2024-03-01         24.8  Medell√≠n
1 2024-03-01         25.1  Medell√≠n
2 2024-03-02         26.2  Medell√≠n
3 2024-03-03         24.9  Medell√≠n
4 2024-03-03         24.7  Medell√≠n
5 2024-03-04         26.0  Medell√≠n
6 2024-03-05         27.1  Medell√≠n
7 2024-03-05         27.2  Medell√≠n
8 2024-03-06         26.8  Medell√≠n

1. Detecta los duplicados

Muestra qu√© filas est√°n duplicadas solo por la columna Fecha.

In [5]:
df['Fecha'].duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6    False
7     True
8    False
Name: Fecha, dtype: bool

In [7]:
df_ultima = df.drop_duplicates(subset=['Fecha'], keep='last')
print(df_ultima)

       Fecha  Temperatura    Ciudad
1 2024-03-01         25.1  Medell√≠n
2 2024-03-02         26.2  Medell√≠n
4 2024-03-03         24.7  Medell√≠n
5 2024-03-04         26.0  Medell√≠n
7 2024-03-05         27.2  Medell√≠n
8 2024-03-06         26.8  Medell√≠n