Ejercicio 1
Crear una lista de listas con un valor faltante

In [11]:
import pandas as pd 
import numpy as np

In [12]:
datos_con_nan = [
    ['Galleta', 5, 1200],
    ['Jugo', 7, np.nan],   # precio faltante
    ['Yogurt', 10, 2000]
]
df_nan = pd.DataFrame(datos_con_nan, columns=['Producto', 'Cantidad', 'Precio'])
print(df_nan)

  Producto  Cantidad  Precio
0  Galleta         5  1200.0
1     Jugo         7     NaN
2   Yogurt        10  2000.0

Deteccion de todos los valores nuloes :

In [14]:
df_nan['Precio'].isnull().sum()

np.int64(1)

Calcular la media ignorando los NaN

In [15]:
media_precio = df_nan['Precio'].mean(skipna=True)
print(media_precio)

1600.0

Reemplaza valores de NaN con la media:

In [17]:
df_nan['Precio'].fillna(media_precio, inplace=True)
print(df_nan)

  Producto  Cantidad  Precio
0  Galleta         5  1200.0
1     Jugo         7  1600.0
2   Yogurt        10  2000.0

Calcular la columna total :

In [18]:
df_nan['Total'] = df_nan['Cantidad'] * df_nan['Precio']
print(df_nan)

  Producto  Cantidad  Precio    Total
0  Galleta         5  1200.0   6000.0
1     Jugo         7  1600.0  11200.0
2   Yogurt        10  2000.0  20000.0