EJERCICIO BLOQUE 8 # 2-3 :

In [25]:
import pandas as pd
import numpy as np

df = pd.read_csv("DatosVentas.csv")
print(df)

    ProductoID  Producto Categoría PrecioUnitario
0            1  Manzanas    Frutas            1,7
1            2     Peras    Frutas           2,96
2            3  Naranjas  Verduras           1,54
3            4   Bananas  Verduras           2,43
4            5  Manzanas  Verduras           2,85
5            6     Peras    Frutas            4,2
6            7  Naranjas  Verduras           3,39
7            8   Bananas    Frutas           2,16
8            9  Manzanas  Verduras           3,35
9           10     Peras    Frutas           3,27
10          11  Naranjas    Frutas           3,22
11          12   Bananas  Verduras           2,76
12          13  Manzanas    Frutas           4,27
13          14     Peras    Frutas           2,79
14          15  Naranjas    Frutas           2,96
15          16   Bananas    Frutas            2,5
16          17  Manzanas    Frutas           3,57
17          18     Peras    Frutas           1,51
18          19  Naranjas    Frutas           2,91
19          20   Bananas    Frutas           2,08

SE A;ADE LA COMUNA "UNIDADES DISPONIBLES" PARA PODER COMPLETAAR EL EJERCICIO , SE CAMBIA EL TIPO DE DATO DE PRECIO UNITARIO.

In [26]:

df['Total Ventas'] = np.random.randint(2, 180, size=20)
df['PrecioUnitario'] = df['PrecioUnitario'].str.replace(',', '.').astype(float)

print(df)

    ProductoID  Producto Categoría  PrecioUnitario  Total Ventas
0            1  Manzanas    Frutas            1.70           154
1            2     Peras    Frutas            2.96            78
2            3  Naranjas  Verduras            1.54           176
3            4   Bananas  Verduras            2.43            36
4            5  Manzanas  Verduras            2.85             2
5            6     Peras    Frutas            4.20            14
6            7  Naranjas  Verduras            3.39            48
7            8   Bananas    Frutas            2.16            11
8            9  Manzanas  Verduras            3.35            20
9           10     Peras    Frutas            3.27           121
10          11  Naranjas    Frutas            3.22           163
11          12   Bananas  Verduras            2.76           173
12          13  Manzanas    Frutas            4.27            35
13          14     Peras    Frutas            2.79            47
14          15  Naranjas    Frutas            2.96            63
15          16   Bananas    Frutas            2.50            86
16          17  Manzanas    Frutas            3.57             6
17          18     Peras    Frutas            1.51           154
18          19  Naranjas    Frutas            2.91           112
19          20   Bananas    Frutas            2.08           142

Se muestran los productos que tienen un precio unitario superior al promedio y que además hayan vendido más de 40 unidades

In [ ]:

promedio_precio = df['PrecioUnitario'].mean()

resultado = df[(df['PrecioUnitario'] > promedio_precio) & (df['Total Ventas'] > 40)][['Producto', 'Categoría', 'PrecioUnitario', 'Total Ventas']]

print(f"Promedio de precio: {promedio_precio:.2f}")
print("\nProductos filtrados:")
print(resultado)

Promedio de precio: 2.82

Productos filtrados:
    Producto Categoría  PrecioUnitario  Total Ventas
1      Peras    Frutas            2.96            78
6   Naranjas  Verduras            3.39            48
9      Peras    Frutas            3.27           121
10  Naranjas    Frutas            3.22           163
14  Naranjas    Frutas            2.96            63
18  Naranjas    Frutas            2.91           112