EJERCICIO BLOQUE 8 # 2 :
üîπ Objetivo del ejercicio:

Cargar los datos desde Google Sheets en un DataFrame de pandas.
Identificar los productos que tengan m√°s de 50 unidades vendidas.
Aumentar en un 8% el Precio Unitario de esos productos.
Mostrar las primeras 10 filas del DataFrame resultante para verificar los cambios.

In [ ]:
import pandas as pd

df = pd.read_csv("DatosVentas.xlsx.csv")
print(df)

    ProductoID  Producto Categor√≠a PrecioUnitario
0            1  Manzanas    Frutas            1,7
1            2     Peras    Frutas           2,96
2            3  Naranjas  Verduras           1,54
3            4   Bananas  Verduras           2,43
4            5  Manzanas  Verduras           2,85
5            6     Peras    Frutas            4,2
6            7  Naranjas  Verduras           3,39
7            8   Bananas    Frutas           2,16
8            9  Manzanas  Verduras           3,35
9           10     Peras    Frutas           3,27
10          11  Naranjas    Frutas           3,22
11          12   Bananas  Verduras           2,76
12          13  Manzanas    Frutas           4,27
13          14     Peras    Frutas           2,79
14          15  Naranjas    Frutas           2,96
15          16   Bananas    Frutas            2,5
16          17  Manzanas    Frutas           3,57
17          18     Peras    Frutas           1,51
18          19  Naranjas    Frutas           2,91
19          20   Bananas    Frutas           2,08

AttributeError: 'DataFrame' object has no attribute 'type'

In [14]:
df['PrecioUnitario'] = df['PrecioUnitario'].str.replace(',', '.').astype(float)
df.loc[df['PrecioUnitario'] > 1.50, 'PrecioUnitario'] *= 1.08
df.head(10)

   ProductoID  Producto Categor√≠a  PrecioUnitario
0           1  Manzanas    Frutas          1.8360
1           2     Peras    Frutas          3.1968
2           3  Naranjas  Verduras          1.6632
3           4   Bananas  Verduras          2.6244
4           5  Manzanas  Verduras          3.0780
5           6     Peras    Frutas          4.5360
6           7  Naranjas  Verduras          3.6612
7           8   Bananas    Frutas          2.3328
8           9  Manzanas  Verduras          3.6180
9          10     Peras    Frutas          3.5316