In [8]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Producto': ['Laptop', 'Monitor', 'Teclado', 'Laptop', 'Tablet', 'Impresora', 'Smartphone', 'Mouse', 'Monitor', 'Tablet'],
    'Categoría': ['Electrónica', 'Computación', 'Accesorios', 'Electrónica', 'Computación', 'Oficina', 'Electrónica', 'Accesorios', 'Computación', 'Computación'],
    'Ventas': [15, 8, 25, 10, 20, 5, 30, 40, 12, 18],
    'Precio Unitario': [1200.00, 500.00, 50.00, 1100.00, 700.00, 400.00, 800.00, 20.00, 450.00, 750.00],
    'Total Ventas': [18000.00, 4000.00, 1250.00, 11000.00, 14000.00, 2000.00, 24000.00, 800.00, 5400.00, 13500.00],
    'Región': ['Norte', 'Sur', 'Norte', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste', 'Norte']
}

df = pd.DataFrame(data)

print(df)

   ID    Producto    Categoría  Ventas  Precio Unitario  Total Ventas Región
0   1      Laptop  Electrónica      15           1200.0       18000.0  Norte
1   2     Monitor  Computación       8            500.0        4000.0    Sur
2   3     Teclado   Accesorios      25             50.0        1250.0  Norte
3   4      Laptop  Electrónica      10           1100.0       11000.0   Este
4   5      Tablet  Computación      20            700.0       14000.0  Oeste
5   6   Impresora      Oficina       5            400.0        2000.0  Norte
6   7  Smartphone  Electrónica      30            800.0       24000.0    Sur
7   8       Mouse   Accesorios      40             20.0         800.0   Este
8   9     Monitor  Computación      12            450.0        5400.0  Oeste
9  10      Tablet  Computación      18            750.0       13500.0  Norte

1.CANTIDAD TOTAL DE PRODUCTOS VENDIDOS :

In [11]:
print(df["Ventas"].sum())

print("el total de productos vendidos es",df["Ventas"].sum())

183
el total de productos vendidos es 183

2.CATEGORIA CON MAYOR TOTAL DE VENTAS ACUMULADAS :

In [16]:
print("la categoria con mayor total de ventas acumuladas es",df.groupby("Categoría")["Total Ventas"].sum().idxmax())

la categoria con mayor total de ventas acumuladas es Electrónica

3.PRODUCTOS CON PRECIO UNITARIO MAYOR A 500:

In [18]:
print("los productos con precio unitario mayor a 500 son :",df[df["Precio Unitario"] > 500]
)

los productos con precio unitario mayor a 500 son :    ID    Producto    Categoría  Ventas  Precio Unitario  Total Ventas Región
0   1      Laptop  Electrónica      15           1200.0       18000.0  Norte
3   4      Laptop  Electrónica      10           1100.0       11000.0   Este
4   5      Tablet  Computación      20            700.0       14000.0  Oeste
6   7  Smartphone  Electrónica      30            800.0       24000.0    Sur
9  10      Tablet  Computación      18            750.0       13500.0  Norte

4.PRECIO PROMEDIO DE TODOS LOS PRODUCTOS:

In [20]:
print("El precio promedio de los productos es:",df["Precio Unitario"].mean())

El precio promedio de los productos es: 597.0

5.CREA UNA NUEVA COLUMNA LLAMADA "PRECIO ACTUALIZADO" QUE AUMENTE EL PRECIO EN UN 10%

In [21]:
df["Precio Actualizado"] = df["Precio Unitario"] * 1.10
print(df)

   ID    Producto    Categoría  Ventas  Precio Unitario  Total Ventas Región  \
0   1      Laptop  Electrónica      15           1200.0       18000.0  Norte
1   2     Monitor  Computación       8            500.0        4000.0    Sur
2   3     Teclado   Accesorios      25             50.0        1250.0  Norte
3   4      Laptop  Electrónica      10           1100.0       11000.0   Este
4   5      Tablet  Computación      20            700.0       14000.0  Oeste
5   6   Impresora      Oficina       5            400.0        2000.0  Norte
6   7  Smartphone  Electrónica      30            800.0       24000.0    Sur
7   8       Mouse   Accesorios      40             20.0         800.0   Este
8   9     Monitor  Computación      12            450.0        5400.0  Oeste
9  10      Tablet  Computación      18            750.0       13500.0  Norte

   Precio Actualizado
0              1320.0
1               550.0
2                55.0
3              1210.0
4               770.0
5               440.0
6               880.0
7                22.0
8               495.0
9               825.0